.container {
    padding: 30px 20px 0 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    height: 40px;
    line-height: 30px;
    color: #aaa;
    list-style: none;
    padding: 0 30px;
}